<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Set up with Authenticator</title>
</head>
<body>
    <div class="container">
        <form class="setUp_auth" action="/">
            <h2>Set up with an Authenticator </h2>
            <ol>
                <li>Download an Authenticator app</li>
                <li>Scan the QRcode to pair with Authenticator</li>
                <img src="<%=qrcode%>">
                <p>Cant scan QRcode? Pair using Key: </p>
                <h3><%= secret %></h3>
                <li>Enter varification code:</li>
                <input type="text" placeholder="code">
            </ol>
            <input type="submit" value="Verify code">
        </form>
    </div>
</body>
</html>